.icon-img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.icon-img:hover{
    box-shadow: 2px 2px 17px  rgb(51, 48, 48);
}
.icon{
    padding: 20px;
}
.head{
    background-color: #007e2a;
    height: 100px;
    width: 1500;
    transition: 1s;
    user-select: none;
}
.head:hover{
    background-color: #00501b;
    box-shadow: 0px 5px 10px 1px black;
}
body{
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
#room-name{
    color: white;
    font-size: xx-large;
    position: absolute;
    left: 1100px;
    top: 30px;
}
#input{
    height: 60px;
    position: inherit;
    margin-left: 50px;
    margin-top: 40px;
}
.emoji-picker{
    font-size: 20px;
    background-color: white;
    border: none;
    outline: none;
    user-select: none;
}
.msg{
    top: 20px;
    height: 100px;
    width: 700px;
    font-size: 20px;
    background-color: white;
    color: black(75, 73, 73);
}
.msg::selection{
    background-color: lightblue;
}
#typearea{
    position: absolute;
    top: 480px;
    left: 17px;
    background-color: white;
    height: 170px;
    width: 98%;
    border-radius: 10px;
}
.send-icon{
    width: 50px;
    height: 50px;
    position: relative;
    top: 105px;
    left: 1160px;
    transition: 1s;
}
.send-icon:hover{
    transform: scale(1.4);
}
.cht{
    margin-top: 5px;
    height: 370px;
    width: 100%;
}
#colorValue{
    outline: none;
    border: none;
    background-color: white;
    padding: 0px;
    width: 40px;
    height: 40px;
}
.color{
    position: absolute;
    bottom: 20px;
    left: 995px;
}
.colorChange{
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 1040px;
}
.bold-btn{
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 880px;
}
.howTo-btn{
    margin-left: 20px;
    position: absolute;
    top: 10px;
    left: 1100px;
}
.settings-btn{
    margin-left: 20px;
    position: absolute;
    top: 10px;
    left: 1160px;
    transition: 2s;
}
.settings-btn:hover{
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}